.hero-bg-cover {
    background: url("https://github.com/monikkacha/react-github-portfolio/blob/master/src/data/images/background-rect.png?raw=true");
}

.hero-main-bg {
    background: #3734A9;
}

.circle-blur {
    background: #10C7DD;
    opacity: 0.2;
    filter: blur(50px);
}